@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Work+Sans:wght@400;800&display=swap');

.vista-ventas {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: block;
    overflow: hidden; /* Ensure content does not overflow */
}


.modal{
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

}

.modal .modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 10px;
    color: #000;
}

.modal .modal-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 0px;
    color: #000;
    overflow: auto; /* Ensure content does not overflow */
}

.modal .modal-body .modal-body-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 0px;
    color: #000;
}


/* ---------version escritorio--------- */

@media(min-width: 1201px) {
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------------- CONTENEDOR PRINCIPAL -------------------*/
.vista-ventas .container-ventas {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items:center;
    border-radius: 4px;
    text-align: center;
    font-family: 'Istok Web';
    font-size: 1.2rem; /* Corrected font-size */
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    transition: 0.3s all ease-out;
    margin-left: 250px;
    margin-top: 88px;
    padding: 0px;
    overflow: hidden; /* Ensure content does not overflow */
}

/*------------------------ CONTENEDOR ENCABEZADO ---------------------------*/
.vista-ventas .container-ventas .main-1-disponibilidad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
    width: 100%;
    height: 10%;
    border-radius: 15px;
    position: relative;
    color: #000;
    overflow: hidden; /* Ensure content does not overflow */
}



.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    border-radius: 15px;
    background-color: #ffffff;
    /* background-color: #ff0000; */
    font-family: 'Istok Web';
    width: 40%;
    height: 100%;
    padding: 5px;
    color: #000;
    z-index: 1;
    overflow: hidden; /* Ensure content does not overflow */
}
.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 20px 50px 0px 30px;
height: 50px;
}
.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo .subtitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Add padding for indentation */
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo .subtitulo p{
    font-size: 12px;
    color: #000;
    margin-top: -9px;
}












/* ------------------------------ ingreso pergamino ------------------------------ */
.vista-ventas .main-1-disponibilidad .contenedor-totales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 15px;

}

.vista-ventas .main-1-disponibilidad .contenedor-totales .precioT{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: initial;
        color: rgba(68, 87, 96, 1);
        /* background-color: #f2f2f2; */
        /* min-height: 80px; */
        height: 80%;
        width: 6%;
        min-width: 150px;
        padding: 10px 0px 20px 0px;
        border-radius: 15px;
            /* background-color: aqua; */

        }

/* .vista-muestras .main-1-disponibilidad .contenedor-totales .precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    color: rgba(68, 87, 96, 1);
    background-color: #ffffff;
    min-height: 500px;
    height: 100%;
    width: 100px;
    min-width: 600px;
    padding: 10px 0px 20px 0px;
    border-radius: 15px;
    min-height: 400px;
}
 */





/*---------------------------- CONTENEDOR DE DATOS DE COMPRAS */
.vista-ventas .container-ventas  .main-ventas  {
display:flex;
flex-direction: row;
width: 99%;
height: 100%;
padding-bottom: 50px;
position: relative;
/* background-color: aqua; */
padding-bottom: 10px;
}


/* -------------------------- grafica -------------------------*/






/* .vista-muestras .container-muestras .main-muestras .contenedor-totales  h1 {
    color: #000;
    font-size: 100px;
}
.vista-muestras .container-muestras .main-muestras .contenedor-totales  h3 {
    color: #000;
}

.vista-muestras .container-muestras .main-muestras .contenedor-totales img{
    position: relative;
    width: 300px;
    height: auto;
    margin-top: -200px;
    left: calc(3% - 0px);
    top: 80px;
} */


/*------------------- SECCION DE COMPRAS RALIZADAS ------------------*/

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Istok Web';
    width: 100%;
    height: 100%;
    padding: 5px 5px 15px 5px;
    margin: 10px 0px 10px 0px;
    color: #000;
    border-radius: 15px;
    overflow: hidden;
    /* Ensure content does not overflow */
}
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    min-height: 75px;
    max-height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: relative;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .buscador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 10px;
    border: #CFCFCF 1px solid;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .titulo .buscador input {
    background-color: transparent;
    border: none;
    border-radius: 50px 0px 0px 50px;
    width: 330px;
    height: 35px;
    padding-left: 25px;
    color: #000;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .titulo .buscador button {
    background-color: transparent;
    border: none;
    border-radius: 0px 50px 50px 0px;
    width: 70px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 2px 0px;
    color: #BFBFBF;
}


/*------ seccion donde va el rango de fecha --------------------- */
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px 20px;
    margin-right: 10px;
    z-index: 899;
}


.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha .calendario-b {
    display: flex;
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: rgba(238, 238, 238, 1);
    color: rgb(130, 130, 130);
    font-family: 'Istok Web';
    font-weight: bold;
    font-size: 15px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha button {
    display: flex;
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: rgba(81, 81, 81, 1);
    color: #ffffff;
    font-family: 'Istok Web';
    font-size: 14px;
}




.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px 20px;
    margin-right: 10px;
    z-index: 899;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 select {
    background-color: #EEEEEE;
    color: #000;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 250px;
    padding: 0px 20px;

}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 button {
    background-color: #515151;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    padding: 0px 10px;
    margin-left: 15px;
    font-family: 'Istok Web';
        font-size: 14px;
}

/*-------------------*/

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .tabla {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    padding: 10px 10px 20px 10px;
    background-color: #f2f2f2;
    font-family: "Istok Web";
    font-size: 14px;
    position: relative;
    overflow: hidden; /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .tabla .encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 0px 0px 0px 10px;
    /* background-color: #FFF; */
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .encabezado .productor {
    flex: 1;
    padding-left: 30px;

}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .productor {
    display: flex;
    flex: 1;
    padding-left: 30px;
    justify-content: row;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .encabezado span,
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato span {
    flex: 1;
    text-align: start;
    padding-left: 7px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 350px;
    /* max-height: 50%px; */
    background-color: #FFF;
    border-radius: 10px;
    overflow: auto;
    position: relative;
    padding: 0px 15px 0px 15px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 0px 5px 0px 0px;
    background-color: transparent;
    border-bottom: #CFCFCF 1px solid;
    margin-bottom: 10px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 32px;
    padding-left: 10px;
    flex-shrink: 0;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .Detalle {
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(97, 97, 97);
    font-size: 12px;
    margin-left: 5px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .Pagar {
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 107, 215);
    font-size: 12px;
}
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .Pagado {
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(79, 183, 0);
    font-size: 12px;
    color: #ffffff;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .Envio {
    display: flex;
    width: 50px;
    height: 30px;
    border-radius: 15px ;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: transparent;
    color: #515151;
    font-size: 10px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .totalcompra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 80px;
    padding: 0px 50px;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}




/* ---------version tablet--------- */

@media(min-width: 768px) and (max-width: 1200px) {
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------------- CONTENEDOR PRINCIPAL -------------------*/

.vista-ventas .container-ventas {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items:center;
    border-radius: 4px;
    text-align: center;
    font-family: 'Istok Web';
    font-size: 1.2rem; /* Corrected font-size */
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    transition: 0.3s all ease-out;
    margin-left: 250px;
    margin-top: 88px;
    padding: 0px;
    overflow: hidden; /* Ensure content does not overflow */
}

/*------------------------ CONTENEDOR ENCABEZADO ---------------------------*/

.vista-ventas .container-ventas .main-1-disponibilidad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
    width: 100%;
    height: 10%;
    border-radius: 15px;
    position: relative;
    color: #000;
    overflow: hidden; /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    border-radius: 15px;
    background-color: #ffffff;
    /* background-color: #ff0000; */
    font-family: 'Istok Web';
    width: 40%;
    height: 100%;
    padding: 5px;
    color: #000;
    z-index: 1;
    overflow: hidden; /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 0px 30px;
    height: 50px;
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo .subtitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Add padding for indentation */
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo .subtitulo p{
    font-size: 12px;
    color: #000;
    margin-top: -9px;
}

.vista-ventas .main-1-disponibilidad .contenedor-totales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 15px;
}

.vista-ventas .main-1-disponibilidad .contenedor-totales .precioT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    color: rgba(68, 87, 96, 1);
    /* background-color: #f2f2f2; */
    /* min-height: 80px; */
    height: 80%;
    width: 6%;
    min-width: 150px;
    padding: 10px 0px 20px 0px;
    border-radius: 15px;
    /* background-color: aqua; */
}

/*---------------------------- CONTENEDOR DE DATOS DE COMPRAS */
.vista-ventas .container-ventas  .main-ventas  {
    display:flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
    padding-bottom: 50px;
    position: relative;
    /* background-color: aqua; */
    padding-bottom: 10px;
}

/*------------------- SECCION DE COMPRAS RALIZADAS ------------------*/

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Istok Web';
    width: 100%;
    height: 100%;
    padding: 5px 5px 15px 5px;
    margin: 10px 0px 10px 0px;
    color: #000;
    border-radius: 15px;
    overflow: hidden;
    /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    min-height: 75px;
    max-height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: relative;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .buscador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 10px;
    border: #CFCFCF 1px solid;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .titulo .buscador input {
    background-color: transparent;
    border: none;
    border-radius: 50px 0px 0px 50px;
    width: 330px;
    height: 35px;
    padding-left: 25px;
    color: #000;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .titulo .buscador button {
    background-color: transparent;
    border: none;
    border-radius: 0px 50px 50px 0px;
    width: 70px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 2px 0px;
    color: #BFBFBF;
}

/*------ seccion donde va el rango de fecha --------------------- */
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px 20px;
    margin-right: 10px;
    z-index: 899;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha .calendario-b {
    display: flex;
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: rgba(238, 238, 238, 1);
    color: rgb(130, 130, 130);
    font-family: 'Istok Web';
    font-weight: bold;
    font-size: 15px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha button {
    display: flex;
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: rgba(81, 81, 81, 1);
    color: #ffffff;
    font-family: 'Istok Web';
    font-size: 14px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px 20px;
    margin-right: 10px;
    z-index: 899;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 select {
    background-color: #EEEEEE;
    color: #000;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 250px;
    padding: 0px 20px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 button {
    background-color: #515151;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    padding: 0px 10px;
    margin-left: 15px;
    font-family: 'Istok Web';
    font-size: 14px;
}

/*-------------------*/

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .tabla {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    padding: 10px 10px 20px 10px;
    background-color: #f2f2f2;
    font-family: "Istok Web";
    font-size: 14px;
    position: relative;
    overflow: hidden; /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .tabla .encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 0px 0px 0px 10px;
    /* background-color: #FFF; */
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .encabezado .productor {
    flex: 1;
    padding-left: 30px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .productor {
    display: flex;
    flex: 1;
    padding-left: 30px;
    justify-content: row;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .encabezado span,
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato span {
    flex: 1;
    text-align: start;
    padding-left: 7px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 350px;
    /* max-height: 50%px; */
    background-color: #FFF;
    border-radius: 10px;
    overflow: auto;
    position: relative;
    padding: 0px 15px 0px 15px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 0px 5px 0px 0px;
    background-color: transparent;
    border-bottom: #CFCFCF 1px solid;
    margin-bottom: 10px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 32px;
    padding-right: 20px;
    flex-shrink: 0;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .Detalle {
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 107, 215);
    font-size: 12px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .eliminar {
    display: flex;
    width: 40px;
    height: 30px;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(40, 20, 0, 1);
    font-size: 1px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .totalcompra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 80px;
    padding: 0px 50px;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}

/* ---------version movil--------- */

@media(max-width: 767px) {
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* --------------------------- CONTENEDOR PRINCIPAL -------------------*/

.vista-ventas .container-ventas {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items:center;
    border-radius: 4px;
    text-align: center;
    font-family: 'Istok Web';
    font-size: 1.2rem; /* Corrected font-size */
    height: 100%;
    width: 100%;
    background-color: #F2F2F2;
    transition: 0.3s all ease-out;
    margin-left: 250px;
    margin-top: 88px;
    padding: 0px;
    overflow: hidden; /* Ensure content does not overflow */
}

/*------------------------ CONTENEDOR ENCABEZADO ---------------------------*/

.vista-ventas .container-ventas .main-1-disponibilidad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: initial;
    width: 100%;
    height: 10%;
    border-radius: 15px;
    position: relative;
    color: #000;
    overflow: hidden; /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    border-radius: 15px;
    background-color: #ffffff;
    /* background-color: #ff0000; */
    font-family: 'Istok Web';
    width: 40%;
    height: 100%;
    padding: 5px;
    color: #000;
    z-index: 1;
    overflow: hidden; /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 0px 30px;
    height: 50px;
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo .subtitulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; /* Add padding for indentation */
}

.vista-ventas .container-ventas .main-1-disponibilidad .info-disponibilidad .titulo .subtitulo p{
    font-size: 12px;
    color: #000;
    margin-top: -9px;
}

.vista-ventas .main-1-disponibilidad .contenedor-totales{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
    margin-left: 10px;
    background-color: #ffffff;
    border-radius: 15px;
}

.vista-ventas .main-1-disponibilidad .contenedor-totales .precioT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    color: rgba(68, 87, 96, 1);
    /* background-color: #f2f2f2; */
    /* min-height: 80px; */
    height: 80%;
    width: 6%;
    min-width: 150px;
    padding: 10px 0px 20px 0px;
    border-radius: 15px;
    /* background-color: aqua; */
}

/*---------------------------- CONTENEDOR DE DATOS DE COMPRAS */
.vista-ventas .container-ventas  .main-ventas  {
    display:flex;
    flex-direction: row;
    width: 99%;
    height: 100%;
    padding-bottom: 50px;
    position: relative;
    /* background-color: aqua; */
    padding-bottom: 10px;
}

/*------------------- SECCION DE COMPRAS RALIZADAS ------------------*/
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
    background-color: #ffffff;
    font-family: 'Istok Web';
    width: 100%;
    height: 100%;
    padding: 5px 5px 15px 5px;
    margin: 10px 0px 10px 0px;
    color: #000;
    border-radius: 15px;
    overflow: hidden;
    /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    min-height: 75px;
    max-height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    position: relative;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .buscador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 35px;
    background-color: #f2f2f2;
    border-radius: 15px;
    margin-bottom: 10px;
    border: #CFCFCF 1px solid;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .titulo .buscador input {
    background-color: transparent;
    border: none;
    border-radius: 50px 0px 0px 50px;
    width: 330px;
    height: 35px;
    padding-left: 25px;
    color: #000;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .titulo .buscador button {
    background-color: transparent;
    border: none;
    border-radius: 0px 50px 50px 0px;
    width: 70px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 2px 0px;
    color: #BFBFBF;
}

/*------ seccion donde va el rango de fecha --------------------- */
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px 20px;
    margin-right: 10px;
    z-index: 899;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha .calendario-b {
    display: flex;
    border-radius: 50px;
    border: none;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: rgba(238, 238, 238, 1);
    color: rgb(130, 130, 130);
    font-family: 'Istok Web';
    font-weight: bold;
    font-size: 15px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .rango-fecha button {
    display: flex;
    border-radius: 50px;
    border: none;
    width: 100px;
    height: 35px;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    background-color: rgba(81, 81, 81, 1);
    color: #ffffff;
    font-family: 'Istok Web';
    font-size: 14px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 55px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0px 20px;
    margin-right: 10px;
    z-index: 899;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 select {
    background-color: #EEEEEE;
    color: #000;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 250px;
    padding: 0px 20px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .titulo .Rango-fecha2 button {
    background-color: #515151;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    height: 30px;
    width: 100px;
    padding: 0px 10px;
    margin-left: 15px;
    font-family: 'Istok Web';
    font-size: 14px;
}

/*-------------------*/

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .tabla {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 80%;
    border-radius: 15px;
    padding: 10px 10px 20px 10px;
    background-color: #f2f2f2;
    font-family: "Istok Web";
    font-size: 14px;
    position: relative;
    overflow: hidden; /* Ensure content does not overflow */
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas  .tabla .encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 0px 0px 0px 10px;
    /* background-color: #FFF; */
    border-radius: 15px;
    margin-bottom: 10px;
    position: relative;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .encabezado .productor {
    flex: 1;
    padding-left: 30px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .productor {
    display: flex;
    flex: 1;
    padding-left: 30px;
    justify-content: row;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .encabezado span,
.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato span {
    flex: 1;
    text-align: start;
    padding-left: 7px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 350px;
    /* max-height: 50%px; */
    background-color: #FFF;
    border-radius: 10px;
    overflow: auto;
    position: relative;
    padding: 0px 15px 0px 15px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35px;
    padding: 0px 5px 0px 0px;
    background-color: transparent;
    border-bottom: #CFCFCF 1px solid;
    margin-bottom: 10px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .botones {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 32px;
    padding-right: 20px;
    flex-shrink: 0;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .Detalle {
    display: flex;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 107, 215);
    font-size: 12px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .datos .dato .eliminar {
    display: flex;
    width: 40px;
    height: 30px;
    border-radius: 0px 15px 15px 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(40, 20, 0, 1);
    font-size: 1px;
}

.vista-ventas .container-ventas .main-ventas .main-ventas-ingresadas .tabla .totalcompra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 80px;
    padding: 0px 50px;
    background-color: #FFF;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}

/* ---------version movil--------- */



