/*-------- ESTILO FORMULARIO MODAL NUEVO USUARIO -----------------------*/

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Work+Sans:wght@400;800&display=swap');
.contenedor-cliente {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    /* background-color: aqua; */
}

.contenedor-cliente input {
    border: none;
    border-radius: 5px;
    width: 153px;
    height: 36px;
    text-align: center;
    background-color: #EEEEEE;
    color: #000;
}

.contenedor-cliente select {
    border: none;
    border-radius: 5px;
    width: 153px;
    height: 36px;
    text-align: center;
    background-color: #EEEEEE;
    color: #000;
}
.contenedor-cliente .cliente-from {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: rgb(0, 255, 157); */
}
.contenedor-cliente .cliente-from .titulo-comp {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    /* background-color: #EEEEEE; */
    color: #000;
    margin-bottom: 50px;
    padding: 10px;

}
.contenedor-cliente .cliente-from label {
    font-size: 12px;
        color: #FF8A00;
        font-weight: bolder;
}

.contenedor-cliente .cliente-from .item-cl {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 80%;
    justify-content: space-between;
    /* background-color: aquamarine; */
}
.contenedor-cliente .cliente-from .item-cl input{
        border: none;
            border-radius: 5px;
            width: 80%;
            height: 36px;
            text-align: center;
            background-color: #EEEEEE;
            color: #000;
}


.contenedor-cliente .cliente-from .botones-comp {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}

.contenedor-cliente .cliente-from .botones-comp .btcancelar {
    border: none;
        width: 140px;
        height: 36px;
        border-radius: 25px;
        background-color: #5E5E5E;
        color: #ffffff;
        margin-right: 5px;
}

.contenedor-cliente .cliente-from .botones-comp .btGuardar{
border: none;
    width: 140px;
    height: 36px;
    border-radius: 25px;
    background-color: #844600;
    color: #ffffff;
    margin-left: 5px;
}



.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #ff8a00;
    border-color: #ff8a00 transparent #ff8a00 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}