@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Caveat:wght@400;500;600;700&family=Indie+Flower&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&family=Work+Sans:wght@400;800&display=swap');


body {
    background-color: #b1b1b1;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 250,
        'opsz' 48
}

.bodyProv {
    display: flex;
    justify-self: center;
    font-family: 'Istok Web';

}



/*-------- ESTILO FORMULARIO MODAL NUEVO USUARIO -----------------------*/

.contenedor-ingresar-muestra {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado-ingresar-muestra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 250px;

}

 .encabezado-ingresar-muestra .icono{
position: absolute;
top: 0;
left: 0;

    width: auto;
    height: 200px;
    position: relative;
    /* background-color: aqua; */
}
.contenedor-ingresar-muestra .muestra-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

.contenedor-ingresar-muestra .muestra-form .datos-muestra  {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */

}
.contenedor-ingresar-muestra .muestra-form .datos-muestra .grupo label {
    font-size: 12px;
    color: #000000;
    font-weight: bolder;
    margin-left: 5px;
}

.contenedor-ingresar-muestra .muestra-form .datos-muestra .grupo{
display: flex;
flex-direction: column;
justify-content: initial;
align-items: center;    
/* background-color: blueviolet; */
padding: 10px;
width: 100%;
height: 200px;
margin-bottom: 10px;
}


.contenedor-ingresar-muestra .muestra-form  select{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#EEEEEE;
    color: #000000;
    border: none;
}
.contenedor-ingresar-muestra .muestra-form .datos-muestra .grupo .itemProv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 40px;
    background-color: #EEEEEE;
    border-radius: 5px;
    margin-top: 10px;
}
.contenedor-ingresar-muestra .muestra-form .datos-muestra .grupo .itemProv .entrada{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding-left: 10px;
}
.contenedor-ingresar-muestra .muestra-form .datos-muestra .grupo .itemProv .error-message{
    color: red;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 5px;
    z-index: 99;
    text-align: center;
}
.contenedor-ingresar-muestra .muestra-form .datos-muestra .grupo .itemProv input {
    border: none;
    border-radius: 5px;
    border: #85858568 0.1px solid;
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #ffffff;
    /* margin-bottom: 10px; */
    margin-left: 5px;
    color: #000000;
}









.contenedor-ingresar-muestra .muestra-form  .itemProv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 80%;
    height: 40px;
    background-color: #EEEEEE;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contenedor-ingresar-muestra .muestra-form  .itemProv .entrada {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #EEEEEE;
    border-radius: 5px;
    padding-left: 10px;
}

.contenedor-ingresar-muestra .muestra-form  .itemProv .error-message {
    color: red;
    font-size: 12px;
    font-weight: bolder;
    margin-left: 5px;
    z-index: 99;
    text-align: center;
}

.contenedor-ingresar-muestra .muestra-form  .itemProv input {
    border: none;
    border-radius: 5px;
    border: #85858568 0.1px solid;
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    /* margin-bottom: 10px; */
    margin-left: 5px;
}












.contenedor-ingresar-muestra .muestra-form .bonotesNewProv {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}

.contenedor-ingresar-muestra .muestra-form .bonotesNewProv .btcancelari {
    border: none;
    width: 140px;
    height: 36px;
    border-radius: 25px;
    background-color: #5E5E5E;
    color: #ffffff;
    margin-right: 5px;
}

.contenedor-ingresar-muestra .muestra-form  .bonotesNewProv .btGuardari {
    border: none;
    width: 140px;
    height: 36px;
    border-radius: 25px;
    background-color: #683C11;
    color: #ffffff;
    margin-left: 5px;
}

/*----------FIN FORMULARIO MODAL NUEVO USUARIO -------------------------*/

/*-----------------------ALERTA--------------------------*/
.btCancelar {
    border: none;
    width: 120px;
    height: 36px;
    border-radius: 25px;
    background-color: #5E5E5E;
    color: #ffffff;
    margin-left: 5px;
}

.btEliminar {
    border: none;
    width: 120px;
    height: 36px;
    border-radius: 25px;
    background-color: #FF8A00;
    color: #ffffff;
    margin-right: 5px;
}

.titulo-pop {
    font-size: 24px;
}

.text-pop {
    font-size: 10px;
}

.icon-pop {
    border: #5E5E5E solid 5px;
}

/*----------------------------------FIN ALERTAS-----------------------------------*/
